{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}



{% block body %}
    <h1>Create New Page</h1>
    {% if key %}
        <h4>Sorry, this entry already exists. Try Again.</h4>
    {% endif %}
    <form action="{% url 'create' %}" method="POST" >
        {% csrf_token %} 
        <div>
            Enter Title: <input type="text" name="title" />
        </div>
        <div>
            <div>Enter Content:</div><textarea name="content" ></textarea>
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>

{% endblock %}

